@font-face {
	font-family: "Gordita";
	src: url("../fonts/Gordita-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Gordita";
	src: url("../fonts/Gordita-Medium.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Gordita";
	src: url("../fonts/Gordita-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: block;
}
